.box{
    height: 200px;
    width: 200px;
}

.bg-purple{
    background-color: purple;
}

.bg-red{
    background-color: red;
}

.bg-green{
    background-color: green;
}

[v-cloak]{
    display:none;
}

input{
    margin: 10px;
    display: block;
}

.ml-1{
    margin-left: 10px;
}